{% extends 'AppCoder/inicio.html' %}

{% block content %} 

<section>
    {% if user.is_authenticated %}
        <div class="container d-flex justify-content-center align-items-center">
            <div class="text-center mt-5">
                <img src="{{ user.usuario.avatar.url }}" style="border-radius: 150px;">
                <h2>Bienvenido {{user.username}}</h2>
                <button type="button" class="btn btn-primary"><a href="{% url 'editarUsuario' %}" class="link-light link-offset-2 link-underline link-underline-opacity-0">Editar usuario</a></button>
                <button type="button" class="btn btn-danger"><a href="{% url 'cambiarPassword' %}" class="link-light link-offset-2 link-underline link-underline-opacity-0">Cambiar contraseña</a></button>
            </div>
        </div>
    {% else %} 
        <div class="container d-flex justify-content-center align-items-center">
            <div class="text-center">
                <p class="text-center">Usted no tiene una cuenta</p>
            </div>
        </div>
    {% endif %}
</section>

{% endblock content %}

