{% extends 'AppCoder/inicio.html' %}

{% block content %}
<section>
    {% if object.usuario == user %}
        <div class="container text-center">

            <form method="post"> {% csrf_token %}
                <h4>Estás seguro(a) que deseas borrar la consola {{consola.marca}} {{consola.modelo}}?</h4>
                <p>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </p>
            </form>
            
        </div>
    {% else %} 
        <div class="container">
            <p class="text-center">Usted no es el creador de esta publicación</p>
        </div>
    {% endif %}
</section>

{% endblock %}