{% extends 'AppCoder/inicio.html' %}

{% block content %} 

<section>
    {% if user.is_authenticated %}
        <div class="container d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h4>Cambiar contraseña</h4>
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %} 
        <div class="container">
            <p class="text-center">Usted no tiene una cuenta</p>
        </div>
    {% endif %}
</section>

{% endblock content %}
