{% extends 'AppCoder/inicio.html' %}

{% block content %}
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="text-center mb-4">Producto en Venta</h1>
            <div class="card">
                <img src="https://via.placeholder.com/500x250.png?text=Imagen+del+producto" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">Producto de ejemplo</h5>
                    <p class="card-text">Marca: XYZ</p>
                    <p class="card-text">Modelo: ABC123</p>
                    <p class="card-text">Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus elit a justo convallis, eu lobortis ex ultrices. Donec auctor bibendum justo, sed suscipit risus auctor vel.</p>
                    <p class="card-text">Precio: $1,000</p>
                    <p class="card-text">Teléfono de contacto: 123-456-7890</p>
                    <p class="card-text">Email de contacto: contacto@ejemplo.com</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}