{% extends 'AppCoder/inicio.html' %}

{% block content %}
<section>
    <div class="container">
        {% if object.usuario == user %}
            <h4>Editar computadora</h4>
            <div class="form-group">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>            
            </div>    
        {% else %} 
            <div class="container">
                <p class="text-center">No tienes permiso para editar este producto.</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}