{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'AppCoder/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'AppCoder/css/bootstrap.min.css' %}">
    <title>TechnoHouse</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TechnoHouse</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ListaComputadoras' %}">Computadora</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ListaCelulares' %}">Celulares</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ListaConsolas' %}">Consolas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ListaOtros' %}">Otros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}"><box-icon name='user'></box-icon></a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    {% block content %}
    <section>
      <div>
        <div>
          <h2>Bienvenido a la venta de tecnología</h2>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div class="text-center">
          <p>¿Desea vender algún producto tecnológico?</p>
          <a href=""><button type="submit" class="btn btn-primary">Agregalo por aqui</button></a>
        </div>
      </div>
    </section>

    {% endblock content %}

    <footer>
      <div>
        <p>Copyright &copy; 2023 Gonzalo Juan Diez</p>
      </div>
    </footer>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>