{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block content %}

<section>
  <div class="container">
    <h2 class="text-center">Celulares</h2>

    <div class="row justify-content-center">
      {% for celular in celulares %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ celular.imagenProducto.url }}" class="card-img-top" alt="{{celular.titulo}}">
          <div class="card-body">
            <h5 class="card-title">{{celular.titulo}}</h5>
            <p>Marca: {{celular.marca}}</p>
            <p>Precio: {{celular.precio}}</p>
            <button type="button" class="btn btn-primary btn-sm"><a href="{% url 'celular' celular.id %}" class="link-light link-offset-2 link-underline link-underline-opacity-0">Ver más</a></button>
          </div>
        </div>
      </div>
      {% empty %}
          <div class="col-12 text-center mt-5">
            <p>No se ha encontrado ninguna publicación de este tipo.</p>
          </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}