{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block content %}
<section>
  <div class="container">
    <h2 class="text-center">Computadoras</h2>

    <div class="row justify-content-center">
      {% for computadora in computadoras %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ computadora.imagenProducto.url }}" class="card-img-top" alt="{{computadora.titulo}}">
          <div class="card-body">
            <h5 class="card-title">{{computadora.titulo}}</h5>
            <p>{{computadora.marca}}</p>
            <p>{{computadora.precio}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}