{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block content %}

<section>
  <div class="container">
    <h2 class="text-center">Consolas</h2>

    <div class="row justify-content-center">
      {% for consola in consolas %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ consola.imagenProducto.url }}" class="card-img-top" alt="{{consola.titulo}}">
          <div class="card-body">
            <h5 class="card-title">{{consola.titulo}}</h5>
            <p>Marca: {{consola.marca}}</p>
            <p>Precio: {{consola.precio}}</p>
            <button type="button" class="btn btn-primary btn-sm"><a href="{% url 'Consola' consola.id %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0">Ver más</a></button>
          </div>
        </div>
      </div>
      {% empty %}
          <div class="col-12 text-center">
            <p>No se ha encontrado ninguna publicación de este tipo.</p>
          </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}