{% extends 'AppCoder/inicio.html' %}

{% load static %}

{% block content %}
<section>
  <div class="container">
    <h2 class="text-center">Celulares</h2>

    <div class="row justify-content-center">
      {% for celular in celulares %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ celular.imagenProducto.url }}" class="card-img-top" alt="{{celular.titulo}}">
          <div class="card-body">
            <h5 class="card-title">{{celular.titulo}}</h5>
            <p>{{celular.marca}}</p>
            <p>{{celular.precio}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}