{% extends 'AppCoder/home.html' %}

{% block content %}

<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h1 class="text-center mb-4">Iniciar Sesión</h1>
            <form action="" method="post">{% csrf_token %}
                {{forms.as_p}}
                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </form>
            <div class="mt-3">
                <p class="text-center mb-0">¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}