{% extends 'AppCoder/inicio.html' %} 

{% block content %}

<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-center mb-5">Sobre Mí</h1>
            <p>Mi nombre es Gonzalo Juan Diez y soy un desarrollador web apasionado por la programación. Desde que comencé a estudiar desarrollo web por mi cuenta, supe que quería dedicarme a este campo y he trabajado duro para mejorar mis habilidades.</p>
            <p>En mi tiempo libre, me gusta leer artículos sobre tecnología y asistir a eventos y conferencias relacionados con el desarrollo web. También disfruto de leer libros y jugar juegos.</p>
            <p>Si tienes alguna pregunta o estás interesado en trabajar conmigo, no dudes en ponerse en contacto conmigo.</p>
        </div>
        <div class="mt-3 text-center">
            <box-icon type='logo' name='gmail'><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"></a></box-icon>
            <box-icon name='instagram' type='logo'><a href="https://www.instagram.com/gonzalodiezbuch/?hl=es-la"></a></box-icon>
            <box-icon name='linkedin-square' type='logo'><a href="https://www.linkedin.com/in/gonzalo-juan-diez-7188851a5/"></a></box-icon>
        </div>
    </div>
</section>

{% endblock content %}